.charts-header {
    padding: 1em;
}

.cases, .deaths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: .5em 0 2em 0;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
}

.filterChart {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .5em;
}
/* Start selects's section */

select {
    padding: .5em;
    border-radius: .5em;
    margin-right: .2em;
}

.filterCountry {
    width: 7em;
}

/* End selects's section */