.charts-header {
    padding: 1em;
}

.cases, .deaths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 2em 0;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 35px 0 rgba(73,80,87,.15);
    font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* Start selects's section */

select {
    padding: .5em;
    border-radius: .5em;
}

.chooseCountry {
    width: 7em;
}

/* End selects's section */